[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"

[dev-packages]
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
